@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@theme {
  --color-bg: white;
  --color-bg-muted: #f5f5f7;
  --color-fg: black;
  --color-fg-muted: rgba(0, 0, 0, 0.5);
  --color-brand: rgb(252, 96, 96);
  --color-brand-muted: rgba(252, 96, 96, 0.5);

  --color-surface: rgba(0, 0, 0, 0.2);

  --font-jetbrains: "JetBrains Mono", monospace;
}

@font-face {
  font-family: "lato regular";
  src: url("/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "lato regular", "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
  }
  ::selection {
    @apply bg-brand text-bg;
  }
}

@layer components {
  .container {
    @apply mx-auto px-[1%];
  }
}

@keyframes images-switch {
  0% {
    opacity: 0;
  }
  74.9% {
    opacity: 0;
  }
  75% {
    opacity: 100;
  }
  99.9% {
    opacity: 100;
  }
}
